main{
    margin-left: 170px;
}
.back a{
    text-decoration: none;
    color: #595858;
    padding: 4px 20px;
    background-color: yellowgreen;

}
.back a:hover{
   color: white;
    
}

.blog-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 70px;
    background-color: white;
}

.blogInfo{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.blogInfo p{
    padding-left: 100px;
    padding-right: 100px;
}

.wp-block-quote{
    margin-top: 50px;
    background-color: #F2F2F2;
    padding-top: 30px;
}



button{
    position: relative;
    left: 45%;
    margin-top: 100px;
    margin-bottom: 100px;
    text-decoration: none;
    color: #595858;
    padding: 4px 20px;
    background-color: yellowgreen;
    border: none;
}


















@media(min-width: 1024px) and (max-width: 1439px){
    .blog-details img{
      width: 700px;
        height: 400px;
      
    }
}

@media(min-width: 768px) and (max-width: 1023px){
    .back{
        margin-top: 100px;
    }
    main{
        margin-left: 70px;
    }
    .blog-details{
        margin-top: 150px
    }
    .blog-details img{
      width: 640px;
        height: 400px;
      
    }
    h1{
        font-size: 20px;
    }

    p{
        font-size: 15px;
    }
}

@media(min-width: 425px) and (max-width: 767px){
    .back{
        margin-top: 100px;
    }
    main{
        margin-left: 40px;
    }
    .blog-details{
        margin-top: 150px
    }
    .blog-details img{
        width: 310px;
        height: 350px;
      
    }
    h1{
        font-size: 20px;
    }
    .blogInfo p{
    padding-left: 50px;
    padding-right: 50px;
    }
    p{
        font-size: 12px;
    }
}

@media(min-width: 374px)and (max-width: 424px){
    .hamburger-label{
        left: 220px;
    }

    .back{
        margin-top: 100px;
    }
    main{
        margin-left: 40px;

    }
    .blog-details{
        position: relative;
        left: -20px;
        width: 340px;
        margin-top: 150px
    }
    .blog-details img{
        width: 320px;
       
        height: 200px;
      
    }
    h1{
        font-size: 20px;
    }

    .blogInfo p{
    padding-left: 50px;
    padding-right: 50px;
    }
    p{
        font-size: 12px;
    }
}

@media(min-width: 320px)and (max-width: 373px){
    .hamburger-label{
        left: 170px;
    }

    .back{
        margin-top: 140px;
    }
    main{
        margin-left: 70px;
    }
    .blog-details{
        position: relative;
        left: -60px;
        width: 340px;
        margin-top: 150px
    }
    .blog-details img{
        width: 280px;
        height: 250px;
      
    }
    .blogInfo{
        position: relative;
        left: -15px;
    }
    h1{
        font-size: 20px;
    }

    .blogInfo p{
    padding-left: 50px;
    padding-right: 50px;
    }
    p{
        font-size: 12px;
    }

}