.h1b{
    margin-left: 10px;
}
.blogPosts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 200px;
    background-color: white;
   
}

.data{
    margin-top: 50px;
    width: 500px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}

.data a{
    text-decoration: none;
   
}

.miniPicture{
    position: relative;
    left: -40px;
}
.miniPicture p{
    display: none;
}
.miniPicture blockquote{
    display: none;
}

.miniPicture img{
    margin-left: 0;
    width: 400px;
    height: 300px;
}

.data:hover{
    background-color: #F2F2F2;
}

@media(min-width: 1024px){
    .data{
        padding-left: 10px;
    }

}

@media(min-width: 760px){
   .blogPosts{
       width: 100%;
       padding-right: 70px;
   }
}

@media(min-width: 375px){
    .hamburger-label{
        left: 220px;
    }
    .blogPosts{
    background-color: transparent;
    width: 100px;
    justify-content: center;
    position: relative;
    left: 150px;
    margin-bottom: 60px;
    }
   .miniPicture img{
       width: 300px;
       height: 200px;
   }
   .excerpt p{
       width: 100px;
       font-size: 16px;
   }
   .data p{
       font-size: 12px;
       width: 250px;
   }
   .data h1{
       font-size: 15px;
   }
   h1{
       font-size: 18px;
   }
  
 }

