
*{
    box-sizing: border-box;
}

html, body{
    margin: auto;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

header{
    margin-left: 150px;
    margin-right: 150px;
}

main{
    margin-left: 150px;
    margin-right: 150px;
}

h1{
    color: #262626;
    font-size: 2.5vw;
}
h2{
    color: #4D4D4D;
    font-size: 2.0Vw;
}
h3{
    color: #737373;
    font-size: 1.5vw;
}
p{
    color: #999999;
    font-size: 1.2vw;
}



/*hamburger*/
 
/*hamburger*/



.topnavContainer{
    position: relative;
    top: -80px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.topNav {
    display: flex;
    text-align: center;
    float: right;
    list-style: none;
    position: relative;
    flex-wrap: wrap;
    top: -155px;
}
.topNav li{
    margin-left: 20px;
    margin-right: 20px;
}
.topNav li a{
    color: #595858;
    padding: 10px 20px;
}
.topNav li a:hover{
    color:#9CD918;
}
.current{
    background-color:#E1F2BD;
    color: white;
}
.logo{
    max-width: 250px;
}
.topNav a{
    text-decoration: none;
}

.frontPage{
    position: relative;
    top: -200px;
    display: flex;
    justify-content: center;
    width: 100%;
}

main{
    position: relative;
    top: -150px;
}






footer{
    position: relative;
    top: 100px;
    background-color: black;
}

.footer{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-wrap: wrap;
}
.footer h3{
    color: #E6E6E6;
}
.aboutUsFooter{
    width: 400px;
    margin-right: 200px;
}
.newsLetterFooter{
    width: 300px;
    margin-right: 100px;
}
.followUs{
    width: 100px;
}
.copy{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.copyright p{
    color: #98BF45;
}




