
*{
    box-sizing: border-box;
}

html, body{
    margin: auto;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

body{
    background-color: seashell;
}

header{
    margin-left: 150px;
    margin-right: 150px;
}

main{
    margin-left: 150px;
    margin-right: 150px;
}

h1{
    color: #262626;
    font-size: 2.5vw;
}
h2{
    color: #4D4D4D;
    font-size: 2.0Vw;
}
h3{
    color: #737373;
    font-size: 1.5vw;
}
p{
    color: #737373;
    font-size: 1.2vw;
}


/*hamburger*/
#hamburger-menu {
    display: none;
    margin: 0;
  }
  .hamburger-label {
    position: absolute;
    left: 90%;
    top: 42px;
    padding: 0;
    cursor: pointer;
  }
  .hamburger{
      max-width: 70%;
  }
  
  #hamburger-menu:checked ~ .topNav {
    display: inline-block;
  }
  /*hamburger*/

/*nav*/
.topLogo {
    position: relative;
    top: -500px;
    height: 100px;
    
    
}
.logo{
    position: relative;
    top: 450px;
    max-width: 20%;
    height: 200px;
}


.topnavContainer{
    height: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.topNav {
    position: relative;
    top: -80px;;
    display: flex;
    text-align: center;
    float: right;
    list-style: none;
    flex-wrap: wrap;
}
.topNav li{
    margin-left: 20px;
    margin-right: 20px;
}
.topNav li a{
    color: #595858;
    padding: 10px 20px;
}
.topNav li a:hover{
    color:#9CD918;
}
.current{
    background-color:#E1F2BD;
    color: white;
}
.topNav a{
    text-decoration: none;
}
/*nav*/



.homepage .wp-image-203{
    width: 100%;
    height: 700px;
}
.homepage p{
    position: relative;
    top: -20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
    padding: 50px;
    
}

.wp-block-latest-posts__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}

.wp-block-latest-posts__list li{
    margin-top: 100px;
    margin-bottom: 100px;
}
.wp-block-latest-posts__list a{
    text-decoration: none;
    font-size: 1.2vw;
    color: #262626;
    font-weight: bold;
    pointer-events: none;
}
.wp-block-latest-posts__post-excerpt{
    padding-top: 20px;
    width: 300px;
}
.wp-block-quote{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}
.wp-block-quote cite{
    padding-left: 70px;
}



/*footer*/
footer{
    position: relative;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 100px;
}

.footer{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-wrap: wrap;
   
}
.footer h3{
    color: #E6E6E6;
}
.aboutUsFooter{
    width: 400px;
    margin-right: 200px;
}
.newsLetterFooter{
    width: 300px;
    margin-right: 100px;
}
footer .submit{
    background-color:#9CD918;
    border: none;
    color: white;
    padding: 10px 20px;
    position: relative;
    left: -10px;
    cursor: pointer;
}
.submit:hover{
    background-color: #98BF45;
}
footer #email{
    padding: 10px 20px;
    border: none;
}
.followUs{
    width: 100px;
}
.copy{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.copyright p{
    color: #98BF45;
}
/*footer*/

@media (max-width: 2561px){
    /*Top nav*/
    /*Top nav*/
    
    /*Main navigation*/
    .topNav {
      display: none;
      display: inline-flex;
    }
    .hamburger-label{
        display: none;
    }
  
}